---
import Knap from "../components/Knap.astro";
const { name, info, img1, img2, img3, img4, price, type, id, materials, sten, second_name, reserved } = Astro.props;
---

<div class={"img_container " + reserved}>
  <div class="container">
    {
      reserved && (
        <div class="reserved">
          <h3>Reserved</h3>
        </div>
      )
    }
    <img src={"/img/desktop_img/" + img1} alt="Produktbillede af ring" />
  </div>

  <div class="layout">
    <div>
      {/* Betinget rendering baseret på værdien af second_name */}
      {second_name ? <h3 class="cardh2">{name + " " + second_name}</h3> : <h3 class="cardh2">{name}</h3>}

      <p>{info}</p>
    </div>
    <div class="knap">
      <Knap color="blue" text="View" link={id} />
    </div>
  </div>

  <style>
    .cardh2 {
      color: var(--black);
      margin-top: 1rem;
    }
    a {
      text-decoration: none;
    }

    .img_container {
      scroll-snap-align: center;
      overflow: hidden;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      position: relative;
    }

    .img_container:last-child {
      padding-right: 10rem;
    }

    h3 {
      /* margin-top: 0.5rem; */
    }
    p {
      /* margin-bottom: 2rem; */
    }
    img {
      width: 100%;
      object-fit: cover;
      align-self: stretch;
      max-height: 500px;
    }
    .layout {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    .knap {
      margin-block: 2rem;
      margin-right: 0rem;
    }
    p {
      margin-top: -0.5rem;
    }

    .true.img_container img {
      opacity: 50%;
      background-color: var(--black);
      z-index: 1;
    }

    .container {
      position: relative;
    }
    .reserved {
      position: absolute;
      opacity: 100% !important;
      top: 0rem;
      transform-origin: right;
      right: 1rem;
      z-index: 10;
      background-color: var(--black);
    }
    .reserved h3 {
      padding: 1rem 1.9rem 0.8rem 2rem;
      color: var(--secondarycolor);
      line-height: 2rem;
    }

    @media (max-width: 800px) {
      .img_container {
        width: 280px;
        margin-bottom: 3rem;
      }
      img {
        height: 370px;
        max-height: 700px;
        min-height: 0;
      }
      .layout p {
        display: none;
      }
      .layout {
        align-items: center;
      }
      .cardh2 {
        color: var(--black);
        margin-top: 0rem;
      }
    }
  </style>
</div>
